@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
.inner {
  width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  background-color: rgba(109, 109, 218, 0.4);
}

.top_head {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.top_head h1 {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
}
.search input {
  height: 30px;
  align-items: flex-end;
}

.log_in {
  padding: 0 20px;
}
.button {
  padding: 5px;
}
.button:hover {
  text-decoration: underline;
}

/* result */
.result {
  font-size: 12px;
}
.result h2 {
}

/* list */
.list {
  display: flex;
  justify-content: center;
}
.list table {
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.under_line {
  text-decoration: underline;
}
.image img {
  height: 100px;
  margin: 0 30px;
}
.description {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.detail_desc {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  flex: 1;
}
.author::after {
  padding-left: 5px;
  content: "|";
}
.category::after {
  padding-left: 5px;
  content: "|";
}
.book_year::after {
  padding-left: 5px;
  content: "|";
}
.detail_button {
  margin: 0 20px;
  text-align: center;
  border: 1px solid #888;
  background: #999;
}
