@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
}
a:hover {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
td,
th {
  text-align: center;
  vertical-align: middle;
}

/************* header *************/
header {
  text-align: center;
}
.login_wrap {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: right;
  background-color: #d8d8d8;
}
.login {
  margin-right: 2em;
  height: 22px;
}
.login > ul {
  float: right;
}
.login > ul > li {
  display: inline-block;
  padding-left: 5px;
  border-left: solid 1px #999;
}
.row {
  display: flex;
  align-items: center;
  height: 7em;
}
.logo img {
  height: 5em;
  width: 5em;
}
.search_bar {
  height: 3em;
}
.search_bar form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_bar input {
  border: 5px solid rgba(0, 191, 255, 0.3);
  border-radius: 25px;
  height: 100%;
  margin-right: 2px;
}
.menu_wrap {
  margin: 0 auto;
}
.menu_wrap > ul {
  text-align: center;
  background-color: rgb(224, 224, 224);
}
.menu_wrap > ul > li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  width: 180px;
  margin: 0 2%;
  height: 70px;
  line-height: 70px;
  z-index: 10;
  position: relative;
}
.menu_wrap > ul > li:hover {
  background-color: #fff;
  transition: 0.5s;
}
.menu_wrap > ul > li .sub {
  background-color: #fff;
  z-index: 15;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  display: none;
}
.menu_wrap > ul > li .sub li {
  line-height: 2.5;
}
.menu_wrap > ul > li .sub li:hover {
  background-color: rgb(238, 238, 238);
  z-index: 200;
  transition: 0.3s;
}
.menu_wrap > ul > li:hover .sub {
  display: block;
  transition: 0.1s;
}

/************* main *************/
.jumbo_text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

/* section- main_result */
.main_result {
  height: 100vh;
}
.detail_desc {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.detail_desc div::after {
  content: "|";
  padding-left: 5px;
}

/************* footer *************/
footer {
  background-color: rgba(109, 109, 218, 0.2);
  text-align: center;
  /* height: 100px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 2em;
  margin-top: 2em;
}

.footer_text {
  text-align: left;
  margin-top: 0.5em;
}

footer .button img {
  border: none;
}

/************* insert_book *************/
.ok_btn {
  text-align: right;
}

/************* detail_book *************/
.main_cont {
  display: flex;
}
.book_image {
  width: 200px;
  height: 250px;
}
.book_image img {
  width: 100%;
  height: 100%;
}
.detail_cont {
  margin-left: 5%;
  width: 80%;
}
.detail_header {
  height: 250px;
  padding-left: 2em;
  padding-top: 1em;
}
.detail_header h1 {
  font-size: 35px;
  font-weight: bold;
  color: steelblue;
}
.detail_sm {
  display: flex;
}
.detail_sm div {
  padding-right: 10px;
}
.detail_sm div::after {
  content: "|";
  margin-left: 10px;
}
.detail_price {
	border-top:1px solid #ddd;
  margin-top: 25px;
  padding-top: 25px;
  font-size: 16px;
}
.price_highlight{
	font-size:25px;
	font-weight: bold;
}
.price_highlight:after{
	content: "ì›";
	font-size:20px;
}
.detail_buy {
	border-top:1px solid #ddd;
  padding: 1.5em;
  background-color: rgba(245, 222, 179, 0.432);
}
.quantity {
  display: flex;
  font-size: 18px;
  align-items: center;
}
.detail_buy > p {
  padding-top: 2em;
}
.detail {
  margin-top: 50px;
  border-top: 1px dashed rgba(153, 153, 153, 0.425);
  font-size: 20px;
}
.b_story {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 1.8em;
}
.b_list {
  border-top: 1px dashed rgba(153, 153, 153, 0.425);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 1.8em;
  border-bottom: 1px dashed rgba(153, 153, 153, 0.425);
}
